<!DOCTYPE html>
<html>
<head>

  <title><%= @base.title %> Voter Guide</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<%= @meta_partial %>
</head>
<body>
<div class="container">
  <div class="header">
    <h1><%= @base.title %></h1>
    <h1 class="big">Voter Guide</h1>
    <h1>Vote by <%= @base.date %></h1>
  </div>
  <div class="section">
    <div class="inner" id="Mayor">
      <h2>Coming Soon!</h2>
      <p>We are still collecting information on the Porltand Mayoral candidates - our current list of questions include:</p>
      <ul>
        <li>Do you support Portland becoming a Sanctuary City so that all immigrants can live without fear of being separated from their families?</li>
        <li>Do you support gender equity for city boards?</li>
        <li>Do you support the City of Portland creating a new office to regulate air pollution?</li>
        <li>As Mayor would you require city agencies to regularly conduct equity audits looking at hiring and promotion of city staff and contractors to ensure equal pay and increased diversity across and within departments?</li>
        <li>Do you support public funding for campaign finance?</li>
        <li>Do you support legal and safe spaces to socially consume cannabis?</li>
        <li>Do you support repealing the 48 hour rule, which allows police to not answer questions about an incident for 48 hours after using force?</li>
        <li>Do you support immediate freeze on rent prices in Portland?</li>
        <li>Do you support allowing homeless families to live in temporary tent communities?</li>
        <li>Did you support replacing the current I-5 bridge over the Columbia River with a new project, including a freeway expansion to 10 lanes?</li>
      </ul>
      <br/>
      <p>Suggestions are more than welcome - <a href="mailto:info@portlandvoterguide.org">get in touch</a></p>
      <br />
        <h3>Brought to you by</h3>
        <div class="grid-12 clear">
          <a target="_blank" href="http://busproject.org"><img style="margin: 0 auto; display: block; width: 120px;" src="/images/logo.jpg"></a>
          <p style="font-size: 0.75em; text-align: center" class="grid-11 centered gutter-top clear">And you can find all the <a href="https://github.com/mojowen/portlandvoterguide" target="_blank">code and whatever right here</a> and oh yeah it was built by <a target="_blank" href="http://twitter.com/sduncombe">this person</a>.</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/main.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59932015-6', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
