<!DOCTYPE html>
<html>
<head>

  <title><%= @base.title %> Voter Guide</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<%= @meta_partial %>
</head>
<body>
<div class="container">
  <div class="header">
    <h1><%= @base.title %></h1>
    <h1 class="big">Voter Guide</h1>
    <h1>Vote by <%= @base.date %></h1>
  </div>
  <div class="section">
    <div class="inner" id="Mayor">
      <h2>Coming Soon!</h2>
      <p>We are still collecting information on the Porltand Mayoral candidates - our current list of questions include:</p>
      <ul>
        <li>Supports repealing the 48 hour rule for Portland Police Officers involved in civilian shootings?</li>
        <li>Supports the Columbia River Crossing?</li>
        <li>Supports the legalization of marijuana?</li>
        <li>Supported corporate tax breaks - like the one Nike was given in 2014?</li>
      </ul>
      <br/>
      <p>Suggestions are more than welcome - <a href="mailto:info@portlandvoterguide.org">get in touch</a></p>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/main.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59932015-6', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
