$yellow: darken(#F3C120, 10%);
$green: #027F45;
$timbers_green: #034110;
$blue: lighten(#4579B3, 10%);
$grey: #666;

$red: red;


$emphasis: $yellow;
$second-emphasis: $blue;
$third-emphasis: $green;
$fourth-emphasis: $green;

$background: $timbers_green;
$type: $grey;
$color-no: darken($red, 20%);
$color-yes: $green;
